In [1]:
import pandas as pd
from forex_python.converter import CurrencyRates
import requests

In [2]:
c = CurrencyRates()
rates = c.get_rates('USD')

In [11]:
df = pd.read_csv('AllCurrencies.csv')
df.head()

      Country/Currency          Ticker         Symbol
0                  NaN   Currency Code   Font:Code2000
1          Albania Lek             ALL             Lek
2  Afghanistan Afghani             AFN               ؋
3       Argentina Peso             ARS               $
4        Aruba Guilder             AWG               ƒ

In [15]:
df = df.iloc[1:]

In [18]:
rates

{'EUR': 0.9414422895876482,
 'JPY': 132.61156091131613,
 'BGN': 1.8412728299755223,
 'CZK': 22.827151195631707,
 'DKK': 7.000941442289587,
 'GBP': 0.8287516475240068,
 'HUF': 377.21709659197893,
 'PLN': 4.3704575409527395,
 'RON': 4.618339295801167,
 'SEK': 10.45424590472604,
 'CHF': 0.9289211071361325,
 'ISK': 143.38166070419885,
 'NOK': 9.83317642628507,
 'HRK': 7.095650536622105,
 'TRY': 18.681039352287705,
 'AUD': 1.4928450385991339,
 'BRL': 5.16230465072491,
 'CAD': 1.3587836565618527,
 'CNY': 6.985313500282433,
 'HKD': 7.802485407644512,
 'IDR': 15598.92675578987,
 'INR': 82.80738090755037,
 'KRW': 1279.8907926944078,
 'MXN': 19.49868198079458,
 'MYR': 4.424967049519864,
 'NZD': 1.5898135944266616,
 'PHP': 55.190171342496704,
 'SGD': 1.3497458105818112,
 'THB': 34.684616832988134,
 'ZAR': 17.044624364526456}

In [30]:
ex_rates = pd.DataFrame(list(rates.items()), columns=[' Ticker', 'Rate to USD'])

In [31]:
ex_rates.head()

   Ticker  Rate to USD
0     EUR     0.941442
1     JPY   132.611561
2     BGN     1.841273
3     CZK    22.827151
4     DKK     7.000941

In [40]:
pd.merge(df, ex_rates, on=" Ticker", how="inner")

Empty DataFrame
Columns: [Country/Currency,  Ticker,  Symbol , Rate to USD]
Index: []